@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  text-align: center;
}
  
text {
  font-family: Helvetica;
  font-size: 14px;
}

.y-label {
  font-size: 25px;
}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.area {
  fill: pink;
  stroke-width: 0;
  opacity: 0.8;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

line.x,
line.y,
circle.y {
  stroke: Aqua;
}
